// Colors
$grey-color: #343a40;
$white-color: white;

// Fonts
%font--small {
  font-size: 14px;
  font-weight: 300;
}

%font--normal {
  font-size: 18px;
  font-weight: 500;
}

%font--large {
  font-size: 20px;
  font-weight: 700;
}
